body{
  margin:0;
}

.urna{
background-color: white
;
padding: 30px;
}

.tela{
width: m450px;
heigth: 320px;
background: linear-gradient(to right, #E8E8E8, #C1C1C1)
}

.teclado{
  background-color: rgb(64, 58, 58)

}